@use '../../StyleUtilities/breakpoints.scss' as *;
@use '../../StyleUtilities/colors.scss' as *;
@use '../../StyleUtilities/mixins.scss' as *;

.chat {
  max-width: 50rem;
  border-radius: 0.625rem;

  @include width-height(100%, 100%);
  @include flex-layout(column, center, unset);
  @include breakpoint('medium') {
    max-height: 50rem;
  }

  &__header {
    position: relative;
    z-index: 100;
  }

  &__main {
    overflow: hidden;
  }

  &__footer {
    background: transparent;
    backdrop-filter: blur(1.25rem);
    border-radius: 0.625rem;
    box-shadow: 0.125rem -0.313rem 0.625rem rgba($black, 0.7);
  }
}
