//unused colors
$blue1: #00a8ff;
$blue3: #40739e;

//primary colors
$white: #ffffff;
$black: #000000;
$bg__grey: #2f3640;
$light__grey: #dcdde1;
$grey2: #718093;

//msg colors
$username--color: #7f8fa6;
$currentMember__msg--color: #0097e6;
$otherMember__msg--color: hsl(295deg 76% 51%);
$memberJoin--color: hsl(220deg 76% 51%);
$memberLeave--color: hsl(284deg 70% 73%);
$msg--color: #f5f6fa;

//text selection colors
$selection--blue: #487eb0;
$selection--purple: #9c88ff;
