//scrollbar color for mozilla
$scrollbar--color: #40739e;

//primary colors
$white: #ffffff;
$black: #000000;
$bg__grey: #2f3640; // input color
$light__grey: #dcdde1; // messages timestamp
$grey2: #718093; // login borders and messages scrollbar

//msg colors
$username--color: #7f8fa6;
$currentMember__msg--color: #35436b;
$otherMember__msg--color: #31383f;
$memberJoin--color: #07473e;
$memberLeave--color: #260747;

//text selection colors
$selection--blue: #487eb0;
