.spinner--wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.spinner {
  width: 9.375rem;
  height: 9.375rem;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(220, 220, 220) 40%,
    rgb(170, 170, 170) 98%,
    rgb(10, 10, 10) 100%
  );
  border-radius: 50%;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -0.625rem 1.25rem 1.25rem #ffffff40 inset,
      0 -0.313rem 0.938rem 0.625rem #ffffff50 inset,
      0 -0.125rem 0.313rem #ffffff80 inset, 0 -0.188rem 0.125rem #ffffffbb inset,
      0 0.125rem 0rem #ffffff, 0 0.125rem 0.188rem #ffffff,
      0 0.313rem 0.313rem #ffffff90, 0 0.625rem 0.938rem #ffffff60,
      0 0.625rem 1.25rem 1.25rem #ffffff40;
    filter: blur(0.188rem);
    animation: 2s rotate linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
