@use '../../../StyleUtilities/colors.scss' as *;
@use '../../../StyleUtilities/fonts.scss' as *;
@use '../../../StyleUtilities/breakpoints.scss' as *;
@use '../../../StyleUtilities/mixins.scss' as *;

.form {
  padding: 1.25rem;
  display: flex;
  position: relative;
  border-radius: 0.625rem;

  &__input {
    color: $bg__grey;
    background: $msg--color;
    font-size: 0.75rem;
    padding: 0.625rem;
    flex: 1;
    border-radius: 0.313rem 0 0 0.313rem;
    border: none;
    outline: none;

    @include breakpoint('medium') {
      font-size: 16px;
    }
  }

  &__btn {
    background: transparent;
    padding: 0.625rem 0.625rem;
    border: none;
    border-radius: 0 0.313rem 0.313rem 0;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 300ms;
    @include flex-layout(unset, center, center);

    &:focus,
    &:hover {
      border: 1px solid $white;
      .icon {
        transform: scale(1.5);
      }
    }

    .icon {
      color: $white;
      font-size: 1rem;
      pointer-events: none;
      transition: 200ms;
    }
  }
}
