@use "../../../StyleUtilities/breakpoints.scss" as *;
@use "../../../StyleUtilities/colors.scss" as *;
@use "../../../StyleUtilities/mixins.scss" as *;

.msg--container {
  overflow-y: auto;
  padding: 10px;
  scrollbar-color: $blue3 rgba($selection--blue, 0.2);
  scrollbar-width: thin;

  @include width-height(initial, 100%);
  @include flex-layout(column, unset, unset);

  @include breakpoint("medium") {
    padding: 20px;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba($selection--blue, 0.2);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $blue3;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $blue1;
  }
}

.msg--item {
  @include flex-layout(column, flex-end, unset);

  &.member_status {
    text-align: center;
    color: $msg--color;
    align-self: center;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0;

    &--join {
      background: $memberJoin--color;
    }

    &--leave {
      background: $memberLeave--color;
    }
  }

  .user {
    margin-bottom: 3px;

    @include flex-layout(column, unset, unset);

    & > div {
      gap: 10px;

      @include flex-layout(row-reverse, flex-end, center);
    }

    &__color {
      border-radius: 50%;

      @include width-height(10px, 10px);
    }

    &__name {
      font-size: 16px;
      font-weight: bold;
      color: $username--color;
    }

    &__msg {
      word-break: break-word;
      color: $msg--color;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 7px rgba(rgb(37, 37, 37), 0.5);
      user-select: text;
      max-width: 250px;
      position: relative;

      @include breakpoint("medium") {
        max-width: 450px;
      }

      &--point {
        &::after {
          content: "";
          display: block;
          z-index: 100;
          position: absolute;

          @include width-height(10px, 20px);
        }
      }

      &_time {
        font-size: 10px;
        margin-left: 10px;
        position: relative;
        top: 8px;
        right: -2px;
        float: right;
        color: $light__grey;
      }

      // when user tries to select text
      &::selection {
        background-color: $selection--blue;
      }
    }
  }

  &.currentMemberItem {
    .user {
      align-self: flex-end;

      & > div {
        flex-direction: row;
      }

      &__msg {
        background: $currentMember__msg--color;

        &--point {
          border-top-right-radius: 0;
          &::after {
            background: inherit;
            top: 0;
            right: -7px;
            clip-path: polygon(0 0, 100% 0, 0 80%);
          }
        }
      }
    }
  }

  &.otherMembersItem {
    .user {
      align-self: flex-start;

      &__name {
        align-self: flex-start;
      }

      &__msg {
        background: $otherMember__msg--color;

        &--point {
          border-top-left-radius: 0;
          &::after {
            background: inherit;
            top: 0;
            left: -7px;
            clip-path: polygon(0 0, 100% 0, 100% 80%);
          }
        }
      }
    }
  }
}
