@use '../../../StyleUtilities/breakpoints.scss' as *;
@use '../../../StyleUtilities/colors.scss' as *;
@use '../../../StyleUtilities/mixins.scss' as *;

.msg--container {
  padding: 0.625rem;
  overflow-y: auto;
  scrollbar-color: $scrollbar--color rgba($selection--blue, 0.2);
  scrollbar-width: thin;
  background: rgba($black, 0.4);

  @include width-height(initial, 100%);
  @include flex-layout(column, unset, unset);

  @include breakpoint('medium') {
    padding: 1.25rem;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // background: rgba($selection--blue, 0.2);
    background: transparent;
    border-radius: 0.625rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($grey2, 0.5);
    border-radius: 0.625rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $grey2;
  }
}

.msg--item {
  @include flex-layout(column, flex-end, unset);

  &.member_status {
    color: $white;
    font-size: 0.875rem;
    text-align: center;
    padding: 0.313rem 0.625rem;
    margin: 0.625rem 0;
    border-radius: 0.625rem;
    align-self: center;

    &--join {
      background: $memberJoin--color;
    }

    &--leave {
      background: $memberLeave--color;
    }
  }

  .user {
    margin-bottom: 0.188rem;

    @include flex-layout(column, unset, unset);

    & > div {
      gap: 0.625rem;

      @include flex-layout(row-reverse, flex-end, center);
    }

    &__color {
      border-radius: 50%;

      @include width-height(0.625rem, 0.625rem);
    }

    &__name {
      color: $username--color;
      font-size: 1rem;
      font-weight: bold;
    }

    &__msg {
      color: $white;
      font-size: 0.938rem;
      word-break: break-word;
      padding: 0.625rem;
      border-radius: 0.625rem;
      box-shadow: 0.188rem 0.188rem 0.438rem rgba(rgb(37, 37, 37), 0.5);
      user-select: text;
      max-width: 15.625rem;
      position: relative;

      @include breakpoint('medium') {
        max-width: 28.125rem;
      }

      @include breakpoint('xlarge') {
        font-size: 1rem;
      }

      &--point {
        &::after {
          content: '';
          display: block;
          z-index: 100;
          position: absolute;

          @include width-height(0.625rem, 1.25rem);
        }
      }

      &_time {
        color: $light__grey;
        font-size: 0.625rem;
        margin-left: 0.625rem;
        position: relative;
        top: 0.5rem;
        right: -0.125rem;
        float: right;
      }

      // when user tries to select text
      &::selection {
        background-color: $selection--blue;
      }
    }
  }

  &.currentMemberItem {
    .user {
      align-self: flex-end;

      & > div {
        flex-direction: row;
      }

      &__msg {
        background: $currentMember__msg--color;

        &--point {
          border-top-right-radius: 0;
          &::after {
            background: inherit;
            top: 0;
            right: -0.438rem;
            clip-path: polygon(0 0, 100% 0, 0 80%);
          }
        }
      }
    }
  }

  &.otherMembersItem {
    .user {
      align-self: flex-start;

      &__name {
        align-self: flex-start;
      }

      &__msg {
        background: $otherMember__msg--color;

        &--point {
          border-top-left-radius: 0;
          &::after {
            background: inherit;
            top: 0;
            left: -0.438rem;
            clip-path: polygon(0 0, 100% 0, 100% 80%);
          }
        }
      }
    }
  }

  &.history .user__msg {
    background: $history__msg--color;
  }
}
