@use '../../StyleUtilities/colors.scss' as *;
@use '../../StyleUtilities/breakpoints.scss' as *;
@use '../../StyleUtilities/mixins.scss' as *;

.login--container {
  background: transparent;
  padding: 3.75rem 1.875rem;
  border-radius: 0.625rem;
  gap: 1.25rem;
  position: relative;

  @include flex-layout(column, unset, unset);

  input,
  button {
    color: $white;
    background: transparent;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0.5rem 2rem 0 rgba($black, 0.7);
    border-radius: 0.313rem;
    outline: none;
    border: none;
    border: 0.125rem solid rgba(184, 179, 179, 0.6);
    @include width-height(100%, 2.5rem);

    @include breakpoint('medium') {
      @include width-height(12.5rem, 3.125rem);
    }

    @include breakpoint('large') {
      @include width-height(18.75rem, 4.375rem);
      font-size: 1.5rem;
    }
  }
}

.login__input {
  user-select: text;

  &::selection {
    background: $selection--purple;
  }
}

.login__btn {
  cursor: pointer;
  transition: 300ms ease-in-out;

  &:hover,
  &:focus {
    color: black;
    background: $white;
  }
}
